{% extends "blog/index.html" %}
{% load static %}

{% block ContenidoCambiante %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario para Buscar</title>
</head>
<body>
    
<form action="/buscador/" method="GET"> {% csrf_token %}

<p>Publicación a buscar: <input type= "text" name="bsc"</p>

<input type= "submit" value="Buscar">

</form>

</body>
{% endblock %}